/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  padding: 1rem 2rem;
  color: white;
  width: 100%;
  margin-left: 0%;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.navbar-links li {
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links li:hover {
  color: #d6dde0;
}

.logo-image{
    height: 40px;
    object-fit: contain;
}