h1{
    margin-top: 0px;
    font-size: 3rem;
    font-weight: 8000;
    font-size: 60.1395px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; /* Optional: adjust to 700 or 800 if needed */
    text-shadow: cyan 2px 2px 4px;
    color: rgb(255, 255, 255);
    text-align: left;
}

p{
    font-size: 1.25rem;
    line-height: 1.6;
    text-align: justify;
    flex-wrap: wrap;
    width: 90%;
}

.about-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  
}

.about-content {
    padding-right: -500px;
}

.about-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: -100px;
}