.home-container {
  padding: 2rem;
  text-align: center;
}

.home-heading {
    margin-top: -100px;
    font-size: 3rem;
    font-weight: 8000;
    font-size: 60.1395px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; /* Optional: adjust to 700 or 800 if needed */
    text-shadow: cyan 2px 2px 4px;
    color: rgb(255, 255, 255);
}

.home-subheading {
  font-size: 1rem;
  color: #475569;
  margin-bottom: 2rem;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.product-grid p{
    font-size: 1.25rem;
    line-height: 1.6;
    text-align: justified;
    flex-wrap: wrap;
    width: 100%;
}

.home-heading{
    text-align: center;
}